[submodule "securityrobot"]
	path = securityrobot
	url = git@github.com:Seputaes/securityrobot.git
[submodule "twitchapi"]
	path = twitchapi
	url = git@github.com:Seputaes/twitchapi.git
[submodule "build_config"]
	path = build_config
	url = git@github.com:Seputaes/sep-java-build-config.git
